<ifModule mod_rewrite.c>
    #activar modulo rewrite
    RewriteEngine on
    ErrorDocument 404 http://localhost/mijhail_server/reportes_corpoelec//ErrorController/
    ##solo cambia la url si la solicitud no es para algo en la carpeta css
    RewriteBase /mijhail_server/reportes_corpoelec//

    #RewriteCond /assets/css/%(SCRIPT_FILENAME) !-d
    #RewriteCond /assets/css/%(SCRIPT_FILENAME) !-f 
    #RewriteCond /assets/css/%(SCRIPT_FILENAME) !-s
    #RewriteCond %(SCRIPT_FILENAME) !-f
    #RewriteCond %(SCRIPT_FILENAME) !-s
    
    #RewriteCond /assets/css/%{REQUEST_URI} !-s
    #RewriteCond /assets/css/%{REQUEST_URI} !-f
    #RewriteCond /assets/css/%{REQUEST_URI} !-d

    ## ESTAS SON LAS REGLAS QUE FUNCIONAN
    # primero si el metodo de peticion "REQUEST METHOD" es diferente de post se ejecuta
    #la regla
    #ademas no debe ser un nombre de archivo ni de directorio 
    RewriteCond %{REQUEST_METHOD} !POST [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_URI} !^assets/css.*$

    #esto sobreescribe. para el metodo index de producto controller escrito asi
    #/ProductoController/index
    # sobreescribe como se muestra abajo
    
    RewriteRule ^(.*)/(.*) http://localhost/mijhail_server/reportes_corpoelec/?controller=$1&action=$2 [QSA]
</ifModule>